:root{

    --primario:#9c0d74;
    --primarioOscuro:#870c64;
    --secundario:#dae509;
    --secundarioOscuro:#b9c50b;
    --blanco:#FFF;
    --negro:#000;

    --fuentePrincipal:"Staatliches", sans-serif;
}
